<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Memes</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://kit.fontawesome.com/2b446a34d9.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="CSS/memes.css" />
  </head>
  <!-- Bootstrap -->
 

  <body>
    <section id="title">
      <div class="containerfluid">
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark">
          <!-- <a class="navbar-brand" href="">Filia</a> -->
          <img class="navbar-brand" src="Images/Logo.png" alt="logo-img" />
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#footer">About Us</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#pricing">Mental Health Check</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#cta">Contact Us</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <div class="container-fluid-2">
        <div class="joke1">
          <h3><%=joke1%></h3>
          <h3><%=ans1%></h3>
        </div>

        <div class="joke2">
          <h3><%=joke2%></h3>
          <h3><%=ans2%></h3>
        </div>

        <div class="joke3">
          <h3><%=joke3%></h3>
          <h3><%=ans3%></h3>
        </div>

        <div class="joke4">
          <h3><%=joke4%></h3>
          <h3><%=ans4%></h3>
        </div>

        <div class="joke5">
          <h3><%=joke5%></h3>
          <h3><%=ans5%></h3>
        </div>

        <div class="joke6">
          <h3><%=joke6%></h3>
          <h3><%=ans6%></h3>
        </div>
      </div>
    </section>
  </body>
</html>
